<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
    <tr>
        <th>username</th>
        <th>Complaints</th>
        <th>replay</th>
        
    </tr>
    {% for i in complaints %}
    <tr>
        <td>{{ i.user.name }}</td>
        <td>{{ i.Complaint }}</td>
        <td>{% if i.replay %}
            {{ i.replay }}
            {% else %}
            <form method="post" action="/reply/{{i.id}}">
                {% csrf_token %}
                <input type="text" name="replay">
                <button type="submit">send</button>
            </form>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </table>

</body>
</html>