<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
   <nav>
   <a href="/Labassistant">Lab Assistant</a><br>
   <a href="/Labmanager">Lab MAnager</a><br>
   <a href="/Assignlab">Assign Lab</a><br>
   <a href="/Inventory">View Inventory</a><br>
   <a href="/Complaints">Complaints</a><br>
   <a href="/Feedback">feedback</a><br>
    <a href="/Viewuser">view user</a><br>
   </nav>
   
</body>
</html>