<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body><table>
    <tr>
        <th>si no</th>
        <th>Name</th>
        <th>staff id</th>
        <th>email</th>
        <th>Lab</th>
        <th>    <a href="/Addmanager"> Add Lab Manager</a></th>
    </tr>
        {% for i in manager %}

    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.staffid }}</td>
        <td>{{ i.email }}</td>
        <td>{{ i.LABID.labname }}</td>
        <td>
           <a href="/Editmanager/{{ i.id }}">Edit</button>
            <a href="/Deletemanager/{{ i.LOGINID.id }}" onclick="return confirm('are you sure you want to delete')">Delete</button>
        </td>
    </tr>
     {% endfor %}
    </table>
</body>
</html>